/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }





  body {
    background-color: #f5f3f3;
    }




.navbar{
    height: 35px; 
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border-radius: 5px;
}
.navbarprojects{
    background-image: linear-gradient(to right, #B6FBFF , #83A4D4);
    box-shadow: 0px 1px 2px 0px #888888; 
}

.bg{
    background-image: url("images/homebg.png");
}

.homeBg{
    width: 100%;
    margin-top: -50px;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    background: #153668;
    color: white !important;
    transition: 0.2s;
    height: fit-content;
    font-size: 17px;
    border-radius: 5px;
}




/***FOR 18 Inches***/
@media screen and (max-width: 1800px) {








    .hello1{
        font-size: 28px;
    }
    .hello, .hello2, .hello3{
        font-size: 20px;
    }

    .hello3 a, .hello2 a{
        text-decoration: none;
        color: #153668;
    }

    .homeBgText{
        width: fit-content;
        color: #153668;
        width: 50%;
        display: block;
        margin-top: -45%;
        margin-left: 40%;
    }
    .textMyServices{
        width: fit-content;
        color: #153668;
        width: 50%;
        display: block;
        margin-top: 200px;
        margin-left: 40%;
    }

    .textBox{
        width: 50%; 
    }

    .aboutMeHeader{
        margin-left: 100px;
        font-size: 28px;
        color: #153668;
    }

    .aboutMeText{
        font-size: 20px;
        color: #ffffff;
        background:#153668;
        float: left;
        display: inline-block;
        width: 55%;
        padding: 20px 20px 20px 100px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .profile{
        float: right;
        display: inline-block;
        width:20%;
        margin-right: 200px;
        margin-top: -50px;
    }


    .aboutMe2{
        margin-top: -43%;
    }
    .aboutMeContact{
        text-align: center;
        margin-top: 525px;
        font-size: 30px;
    }
    .aboutMeContact a{
        text-decoration: none;
        color: #153668;
    }




    .column {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        box-shadow: 0px 1px 2px 0px #888888; 
        padding-bottom: 10px;
        background-color: white;
    }
    .column:hover {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        box-shadow: 2px 3px 2px 0px #888888; 
    }
    .column h5{
        background: #ffffff;
        padding:5px 0px;
    }
    
    .row{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        text-align: center;
        height: fit-content;

    }

    .projectsThumbNails{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .logocontainer{
        width: 80%;
        text-align: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .logocontainer img{
        width: 350px;
        border-radius: 10px;
        margin-top: -150px
        }

        .containerimg{
            display: inline-block;
            margin-top: auto;
            margin-bottom: auto;
        }


        .logocontainer1{
            width: 80%;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }
        .logocontainer1 img{
            width: 350px;
            border-radius: 10px;
            margin-top: 0px
        }
    
        .containerimg1{
            display: inline-block;
            margin-top: auto;
            margin-bottom: auto;
        }




        .projecttext{
            display: inline-block;
            margin-left: 10px;
            width: 60%;
            text-align: left;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 2px 5px 1px #888888; 
            background-color: white;
        }

        .backbutton{
            background-image: linear-gradient(to right, #B6FBFF , #83A4D4);
            box-shadow: 0px 1px 2px 0px #888888; 
            border: none;
            height: 35px;
            border-radius: 5px;
            
        }
        .divBtn{
            width: 80%;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
            padding:0px 20px;
        }

        .projectScreenshots{
            
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            text-align: center;
            margin-top: 20px;
            
        }
        .projectScreenshots h4{
            background-image: linear-gradient(to right, #B6FBFF , #83A4D4);
            padding-bottom: 5px;
        }

    
        .projectPicsImg{
            width: 700px;
            border-radius: 10px;
            box-shadow: 0px 1px 2px 0px #888888; 
            margin-bottom: 10px;
        }
        .projectPicsImg1{
            width: 300px;
            border-radius: 10px;
            box-shadow: 0px 1px 2px 0px #888888; 
            margin-bottom: 10px;
        }
}






































/***FOR 13 Inches***/
@media screen and (max-width: 1300px) {








    .hello1{
        font-size: 28px;
    }
    .hello, .hello2, .hello3{
        font-size: 20px;
    }

    .hello3 a, .hello2 a{
        text-decoration: none;
        color: #153668;
    }

    .homeBgText{
        width: fit-content;
        color: #153668;
        width: 50%;
        display: block;
        margin-top: -50%;
        margin-left: 40%;
    }
    .textMyServices{
        width: fit-content;
        color: #153668;
        width: 50%;
        display: block;
        margin-top: 200px;
        margin-left: 40%;
    }

    .textBox{
        width: 50%; 
    }

    .aboutMeHeader{
        margin-left: 100px;
        font-size: 28px;
        color: #153668;
    }

    .aboutMeText{
        font-size: 20px;
        color: #ffffff;
        background:#153668;
        float: left;
        display: inline-block;
        width: 55%;
        padding: 20px 20px 20px 100px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .profile{
        float: right;
        display: inline-block;
        width:20%;
        margin-right: 200px;
        margin-top: -50px;
    }


    .aboutMe2{
        margin-top: -43%;
    }
    .aboutMeContact{
        text-align: center;
        margin-top: 325px;
        font-size: 30px;
    }
    .aboutMeContact a{
        text-decoration: none;
        color: #153668;
    }




    .column {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        box-shadow: 0px 1px 2px 0px #888888; 
        padding-bottom: 10px;
        background-color: white;
    }
    .column:hover {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        box-shadow: 2px 3px 2px 0px #888888; 
    }
    .column h5{
        background: #ffffff;
        padding:5px 0px;
    }
    
    .row{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        text-align: center;
        height: fit-content;

    }

    .projectsThumbNails{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .logocontainer{
        width: 80%;
        text-align: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .logocontainer img{
        width: 350px;
        border-radius: 10px;
        margin-top: -200px
        }

        .containerimg{
            display: inline-block;
            margin-top: auto;
            margin-bottom: auto;
        }


        .logocontainer1{
            width: 80%;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }
        .logocontainer1 img{
            width: 350px;
            border-radius: 10px;
            margin-top: 0px
        }
    
        .containerimg1{
            display: inline-block;
            margin-top: auto;
            margin-bottom: auto;
        }




        .projecttext{
            display: inline-block;
            margin-left: 10px;
            width: 60%;
            text-align: left;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 2px 5px 1px #888888; 
            background-color: white;
        }

        .backbutton{
            background-image: linear-gradient(to right, #B6FBFF , #83A4D4);
            box-shadow: 0px 1px 2px 0px #888888; 
            border: none;
            height: 35px;
            border-radius: 5px;
            
        }
        .divBtn{
            width: 80%;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
            padding:0px 20px;
        }

        .projectScreenshots{
            
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            text-align: center;
            margin-top: 20px;
            
        }
        .projectScreenshots h4{
            background-image: linear-gradient(to right, #B6FBFF , #83A4D4);
            padding-bottom: 5px;
        }

    
        .projectPicsImg{
            width: 700px;
            border-radius: 10px;
            box-shadow: 0px 1px 2px 0px #888888; 
            margin-bottom: 10px;
        }
        .projectPicsImg1{
            width: 300px;
            border-radius: 10px;
            box-shadow: 0px 1px 2px 0px #888888; 
            margin-bottom: 10px;
        }
}